[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 100

[res/values-*/strings.xml]
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.md]
trim_trailing_whitespace = false

[gradlew.bat]
charset = latin1
end_of_line = crlf
insert_final_newline = false

[.editorconfig]
ij_editorconfig_spaces_around_assignment_operators = true
