<?xml version="1.0" encoding="utf-8"?>
<!--
/* //device/apps/Calendar/AndroidManifest.xml
**
** Copyright 2006, The Android Open Source Project
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ws.xsoh.etar"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:name="com.android.calendar.CalendarApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/standalone_app_label"
        android:taskAffinity="ws.xsoh.etar.task"
        android:requiredAccountType="*"
        android:usesCleartextTraffic="false"
        android:theme="@style/CalendarAppTheme">

        <activity
            android:name="com.android.calendar.AllInOneActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/CalendarTheme.WithoutActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="time/epoch" />
                <data android:host="com.android.calendar" />
                <data android:scheme="content"/>
            </intent-filter>
        </activity>

        <activity-alias android:name="com.android.calendar.LaunchActivity"
            android:exported="true"
            android:targetActivity="com.android.calendar.AllInOneActivity">
        </activity-alias>

        <activity android:name="com.android.calendar.EventInfoActivity"
            android:parentActivityName="com.android.calendar.AllInOneActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.calendar.AllInOneActivity" />
        </activity>

        <activity android:name="com.android.calendar.event.EditEventActivity"
            android:theme="@style/Base.CalendarAppThemeWithActionBar">
        </activity>

        <activity-alias android:name="com.android.calendar.EditEventActivity"
            android:exported="true"
            android:targetActivity="com.android.calendar.event.EditEventActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/event" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.android.calendar.GoogleCalendarUriIntentFilter"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_label"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter
               android:priority="50">
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event"
                    android:scheme="http" />
                <data
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event"
                    android:scheme="https" />
                <data
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event"
                    android:scheme="http" />
                <data
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.calendar.settings.SettingsActivity"
            android:label="@string/preferences_title"
            android:parentActivityName="com.android.calendar.AllInOneActivity" />

        <!-- Declarations for search -->
        <!-- Make all activities a searchable context -->
        <meta-data android:name="android.app.default_searchable"
            android:value="com.android.calendar.SearchActivity"/>

        <activity
            android:name="com.android.calendar.SearchActivity"
            android:exported="true"
            android:label="@string/search_title"
            android:launchMode="singleTop"
            android:theme="@style/CalendarTheme.WithActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>

        <activity android:name="com.android.calendar.ImportActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:launchMode="singleTop">
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/x-vcalendar" />
                <data android:mimeType="text/calendar" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--<provider android:name="com.android.calendar.CalendarRecentSuggestionsProvider"
            android:exported="false"
            android:authorities="com.android.calendar.CalendarRecentSuggestionsProvider" />-->

        <!-- Declarations for alerts/reminders -->
        <activity
            android:name="com.android.calendar.alerts.AlertActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Dialog" />

        <activity
            android:name="com.android.calendar.alerts.QuickResponseActivity"
            android:excludeFromRecents="true"
            android:label="@string/quick_response_dialog_title"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Dialog" />

        <activity
            android:name="com.android.calendar.alerts.SnoozeDelayActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Dialog" />

        <receiver android:name="com.android.calendar.alerts.AlertReceiver">
            <intent-filter>
                <action android:name="android.intent.action.EVENT_REMINDER" />
                <action android:name="android.intent.action.TIME_SET" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>
                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.calendar.alerts.GlobalDismissManager"
                  android:exported="false" />

        <service android:name="com.android.calendar.alerts.AlertService" />

        <service android:name="com.android.calendar.alerts.DismissAlarmsService" />

        <service android:name="com.android.calendar.alerts.SnoozeAlarmsService" />

        <!-- Declarations for the widget -->
        <!--receiver android:name="com.android.calendar.widget.CalendarAppWidgetProvider" android:label="@string/gadget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.android.calendar.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_info" />
        </receiver>

        <receiver android:name="com.android.calendar.widget.CalendarAppWidgetService$CalendarFactory">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>
                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.calendar.APPWIDGET_SCHEDULED_UPDATE"/>
                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
                <data android:mimeType="vnd.android.data/update" />
            </intent-filter>
        </receiver>

        <service android:name="com.android.calendar.widget.CalendarAppWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service-->

        <service android:name="com.android.calendar.AsyncQueryServiceHelper" />

    </application>
</manifest>

