name: Android CI with Gradle

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3.5.0
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Restore Cache
        uses: actions/cache@v3.0.1
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Checkout submodules # checkout rest
        shell: bash
        run: |
          git submodule update --init
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Build with Gradle
        run: |
          ./gradlew aarGen
          ./gradlew :app:assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Etar_apk
          path: app/build/outputs/apk/debug/app-debug.apk
