name: Android CI with Gradle

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: set up JDK 17
        uses: actions/setup-java@v3.12.0
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Restore Cache
        uses: actions/cache@v3.3.2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Build with Gradle
        run: |
          ./gradlew :app:assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Etar_apk
          path: app/build/outputs/apk/debug/app-debug.apk
